*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
bannerslider/\.idea/

bannerslider/gradle/wrapper/

bannerslider/gradlew

bannerslider/gradlew\.bat

bannerslider/local\.properties
